In [137]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report, accuracy_score
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, r2_score

In [138]:
# Load the CSV file
df = pd.read_csv('C:\\Users\\Asus\\Documents\\A MINI PROJECT\\Bengaluru 2009-2019\\Bengaluru.csv')

# Display the first few rows of the dataframe
df.head()

,date_time,maxtempC,mintempC,totalSnow_cm,sunHour,uvIndex,uvIndex.1,moon_illumination,moonrise,moonset,...,WindChillC,WindGustKmph,cloudcover,humidity,precipMM,pressure,tempC,visibility,winddirDegree,windspeedKmph
0,01-01-2009 0.00,27,12,0,11.6,5,1,31,9.58 AM,10.03 PM,...,18,11,2,91,0.0,1014,14,10,109,8
1,01-01-2009 1.00,27,12,0,11.6,5,1,31,9.58 AM,10.03 PM,...,17,9,2,93,0.0,1014,14,7,85,6
2,01-01-2009 2.00,27,12,0,11.6,5,1,31,9.58 AM,10.03 PM,...,16,7,2,94,0.0,1014,13,5,61,4
3,01-01-2009 3.00,27,12,0,11.6,5,1,31,9.58 AM,10.03 PM,...,15,5,2,96,0.0,1014,12,2,37,3
4,01-01-2009 4.00,27,12,0,11.6,5,1,31,9.58 AM,10.03 PM,...,18,5,1,88,0.0,1015,14,5,45,3

In [139]:
# Check for missing values
print(df.isnull().sum())

date_time            0
maxtempC             0
mintempC             0
totalSnow_cm         0
sunHour              0
uvIndex              0
uvIndex.1            0
moon_illumination    0
moonrise             0
moonset              0
sunrise              0
sunset               0
DewPointC            0
FeelsLikeC           0
HeatIndexC           0
WindChillC           0
WindGustKmph         0
cloudcover           0
humidity             0
precipMM             0
pressure             0
tempC                0
visibility           0
winddirDegree        0
windspeedKmph        0
dtype: int64

In [140]:
# Display the dataframe info
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96432 entries, 0 to 96431
Data columns (total 25 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   date_time          96432 non-null  object
 1   maxtempC           96432 non-null  int64
 2   mintempC           96432 non-null  int64
 3   totalSnow_cm       96432 non-null  int64
 4   sunHour            96432 non-null  float64
 5   uvIndex            96432 non-null  int64
 6   uvIndex.1          96432 non-null  int64
 7   moon_illumination  96432 non-null  int64
 8   moonrise           96432 non-null  object
 9   moonset            96432 non-null  object
 10  sunrise            96432 non-null  object
 11  sunset             96432 non-null  object
 12  DewPointC          96432 non-null  int64
 13  FeelsLikeC         96432 non-null  int64
 14  HeatIndexC         96432 non-null  int64
 15  WindChillC         96432 non-null  int64
 16  WindGustKmph       96432 non-null  int64
 17  cloudcover         96432 non-null  int64
 18  humidity           96432 non-null  int64
 19  precipMM           96432 non-null  float64
 20  pressure           96432 non-null  int64
 21  tempC              96432 non-null  int64
 22  visibility         96432 non-null  int64
 23  winddirDegree      96432 non-null  int64
 24  windspeedKmph      96432 non-null  int64
dtypes: float64(2), int64(18), object(5)
memory usage: 18.4+ MB
None

In [141]:
# Create a binary column indicating rainy days

df['rainy_day'] = df['precipMM'].apply(lambda x: 1 if x > 0 else 0)

In [142]:
# Display the updated dataframe
df.head()

,date_time,maxtempC,mintempC,totalSnow_cm,sunHour,uvIndex,uvIndex.1,moon_illumination,moonrise,moonset,...,WindGustKmph,cloudcover,humidity,precipMM,pressure,tempC,visibility,winddirDegree,windspeedKmph,rainy_day
0,01-01-2009 0.00,27,12,0,11.6,5,1,31,9.58 AM,10.03 PM,...,11,2,91,0.0,1014,14,10,109,8,0
1,01-01-2009 1.00,27,12,0,11.6,5,1,31,9.58 AM,10.03 PM,...,9,2,93,0.0,1014,14,7,85,6,0
2,01-01-2009 2.00,27,12,0,11.6,5,1,31,9.58 AM,10.03 PM,...,7,2,94,0.0,1014,13,5,61,4,0
3,01-01-2009 3.00,27,12,0,11.6,5,1,31,9.58 AM,10.03 PM,...,5,2,96,0.0,1014,12,2,37,3,0
4,01-01-2009 4.00,27,12,0,11.6,5,1,31,9.58 AM,10.03 PM,...,5,1,88,0.0,1015,14,5,45,3,0

In [143]:
# Save the dataframe to a new CSV file
df.to_csv('C:\\Users\\Asus\\Documents\\A MINI PROJECT processed_bengaluru.csv', index=False)

In [144]:
# Specify the correct date format explicitly
df['date_time'] = pd.to_datetime(df['date_time'], format='%d-%m-%Y %H.%M')

In [145]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96432 entries, 0 to 96431
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   date_time          96432 non-null  datetime64[ns]
 1   maxtempC           96432 non-null  int64
 2   mintempC           96432 non-null  int64
 3   totalSnow_cm       96432 non-null  int64
 4   sunHour            96432 non-null  float64
 5   uvIndex            96432 non-null  int64
 6   uvIndex.1          96432 non-null  int64
 7   moon_illumination  96432 non-null  int64
 8   moonrise           96432 non-null  object
 9   moonset            96432 non-null  object
 10  sunrise            96432 non-null  object
 11  sunset             96432 non-null  object
 12  DewPointC          96432 non-null  int64
 13  FeelsLikeC         96432 non-null  int64
 14  HeatIndexC         96432 non-null  int64
 15  WindChillC         96432 non-null  int64
 16  WindGustKmph       96432 non-null  int64
 17  cloudcover         96432 non-null  int64
 18  humidity           96432 non-null  int64
 19  precipMM           96432 non-null  float64
 20  pressure           96432 non-null  int64
 21  tempC              96432 non-null  int64
 22  visibility         96432 non-null  int64
 23  winddirDegree      96432 non-null  int64
 24  windspeedKmph      96432 non-null  int64
 25  rainy_day          96432 non-null  int64
dtypes: datetime64[ns](1), float64(2), int64(19), object(4)
memory usage: 19.1+ MB
None

In [146]:
# Ensure the date_time column is of datetime type
df['date_time'] = pd.to_datetime(df['date_time'])

In [161]:
# Extract year and month
df['year'] = df['date_time'].dt.year
df['month'] = df['date_time'].dt.month
df['day']=df['date_time'].dt.day

In [162]:
df.head()

,date_time,maxtempC,mintempC,totalSnow_cm,sunHour,uvIndex,uvIndex.1,moon_illumination,moonrise,moonset,...,precipMM,pressure,tempC,visibility,winddirDegree,windspeedKmph,rainy_day,year,month,day
0,2009-01-01 00:00:00,27,12,0,11.6,5,1,31,9.58 AM,10.03 PM,...,0.0,1014,14,10,109,8,0,2009,1,1
1,2009-01-01 01:00:00,27,12,0,11.6,5,1,31,9.58 AM,10.03 PM,...,0.0,1014,14,7,85,6,0,2009,1,1
2,2009-01-01 02:00:00,27,12,0,11.6,5,1,31,9.58 AM,10.03 PM,...,0.0,1014,13,5,61,4,0,2009,1,1
3,2009-01-01 03:00:00,27,12,0,11.6,5,1,31,9.58 AM,10.03 PM,...,0.0,1014,12,2,37,3,0,2009,1,1
4,2009-01-01 04:00:00,27,12,0,11.6,5,1,31,9.58 AM,10.03 PM,...,0.0,1015,14,5,45,3,0,2009,1,1

In [149]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96432 entries, 0 to 96431
Data columns (total 28 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   date_time          96432 non-null  datetime64[ns]
 1   maxtempC           96432 non-null  int64
 2   mintempC           96432 non-null  int64
 3   totalSnow_cm       96432 non-null  int64
 4   sunHour            96432 non-null  float64
 5   uvIndex            96432 non-null  int64
 6   uvIndex.1          96432 non-null  int64
 7   moon_illumination  96432 non-null  int64
 8   moonrise           96432 non-null  object
 9   moonset            96432 non-null  object
 10  sunrise            96432 non-null  object
 11  sunset             96432 non-null  object
 12  DewPointC          96432 non-null  int64
 13  FeelsLikeC         96432 non-null  int64
 14  HeatIndexC         96432 non-null  int64
 15  WindChillC         96432 non-null  int64
 16  WindGustKmph       96432 non-null  int64
 17  cloudcover         96432 non-null  int64
 18  humidity           96432 non-null  int64
 19  precipMM           96432 non-null  float64
 20  pressure           96432 non-null  int64
 21  tempC              96432 non-null  int64
 22  visibility         96432 non-null  int64
 23  winddirDegree      96432 non-null  int64
 24  windspeedKmph      96432 non-null  int64
 25  rainy_day          96432 non-null  int64
 26  year               96432 non-null  int32
 27  month              96432 non-null  int32
dtypes: datetime64[ns](1), float64(2), int32(2), int64(19), object(4)
memory usage: 19.9+ MB

In [165]:
# Aggregate data to monthly level
monthly_data = df.groupby(['year', 'month','day']).agg({
    'rainy_day': 'sum',  # Total number of rainy days in the month
    'maxtempC': 'mean',
    'mintempC': 'mean',
    'totalSnow_cm': 'sum',
    'sunHour': 'mean',
    'uvIndex': 'mean',
    'DewPointC': 'mean',
    'FeelsLikeC': 'mean',
    'HeatIndexC': 'mean',
    'WindChillC': 'mean',
    'WindGustKmph': 'mean',
    'cloudcover': 'mean',
    'humidity': 'mean',
    'precipMM': 'sum',  # Total precipitation in the month
    'pressure': 'mean',
    'tempC': 'mean',
    'visibility': 'mean',
    'winddirDegree': 'mean',
    'windspeedKmph': 'mean'
}).reset_index()

In [166]:
df.head()

,date_time,maxtempC,mintempC,totalSnow_cm,sunHour,uvIndex,uvIndex.1,moon_illumination,moonrise,moonset,...,precipMM,pressure,tempC,visibility,winddirDegree,windspeedKmph,rainy_day,year,month,day
0,2009-01-01 00:00:00,27,12,0,11.6,5,1,31,9.58 AM,10.03 PM,...,0.0,1014,14,10,109,8,0,2009,1,1
1,2009-01-01 01:00:00,27,12,0,11.6,5,1,31,9.58 AM,10.03 PM,...,0.0,1014,14,7,85,6,0,2009,1,1
2,2009-01-01 02:00:00,27,12,0,11.6,5,1,31,9.58 AM,10.03 PM,...,0.0,1014,13,5,61,4,0,2009,1,1
3,2009-01-01 03:00:00,27,12,0,11.6,5,1,31,9.58 AM,10.03 PM,...,0.0,1014,12,2,37,3,0,2009,1,1
4,2009-01-01 04:00:00,27,12,0,11.6,5,1,31,9.58 AM,10.03 PM,...,0.0,1015,14,5,45,3,0,2009,1,1

In [167]:
# Rename columns for clarity
monthly_data.rename(columns={'rainy_day': 'num_rainy_days'}, inplace=True)

In [153]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96432 entries, 0 to 96431
Data columns (total 28 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   date_time          96432 non-null  datetime64[ns]
 1   maxtempC           96432 non-null  int64
 2   mintempC           96432 non-null  int64
 3   totalSnow_cm       96432 non-null  int64
 4   sunHour            96432 non-null  float64
 5   uvIndex            96432 non-null  int64
 6   uvIndex.1          96432 non-null  int64
 7   moon_illumination  96432 non-null  int64
 8   moonrise           96432 non-null  object
 9   moonset            96432 non-null  object
 10  sunrise            96432 non-null  object
 11  sunset             96432 non-null  object
 12  DewPointC          96432 non-null  int64
 13  FeelsLikeC         96432 non-null  int64
 14  HeatIndexC         96432 non-null  int64
 15  WindChillC         96432 non-null  int64
 16  WindGustKmph       96432 non-null  int64
 17  cloudcover         96432 non-null  int64
 18  humidity           96432 non-null  int64
 19  precipMM           96432 non-null  float64
 20  pressure           96432 non-null  int64
 21  tempC              96432 non-null  int64
 22  visibility         96432 non-null  int64
 23  winddirDegree      96432 non-null  int64
 24  windspeedKmph      96432 non-null  int64
 25  rainy_day          96432 non-null  int64
 26  year               96432 non-null  int32
 27  month              96432 non-null  int32
dtypes: datetime64[ns](1), float64(2), int32(2), int64(19), object(4)
memory usage: 19.9+ MB

In [175]:
# Features and target variable
X = monthly_data.drop(['year', 'month','day', 'num_rainy_days'], axis=1)
y = monthly_data['num_rainy_days']

In [176]:
# Train-test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [177]:
# Train the model
regressor = RandomForestRegressor(n_estimators=100, random_state=42)
regressor.fit(X_train, y_train)

RandomForestRegressor(random_state=42)

In [178]:
# Predict and evaluate
y_pred = regressor.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

In [179]:
print(f'Mean Squared Error: {mse}')
print(f'R-squared: {r2}')

Mean Squared Error: 1.9184491293532338
R-squared: 0.8659904632621348

In [182]:
# Assuming you have a DataFrame named df containing your data

# Step 1: Filter the dataset for rainy days
rainy_days_df = df[df['rainy_day'] == 1]  # Assuming 'rainy_day' column contains binary values indicating rainy days

# Step 2: Extract year and month from the date_time column
# Step 2: Extract year and month from the date_time column
rainy_days_df.loc[:, 'year'] = rainy_days_df['date_time'].dt.year
rainy_days_df.loc[:, 'month'] = rainy_days_df['date_time'].dt.month



# Step 3: Group by year and month, and count the number of rainy days in each month
rainy_days_count = rainy_days_df.groupby(['year', 'month']).size().reset_index(name='num_rainy_days')

print(rainy_days_count)

     year  month  num_rainy_days
0    2009      1              14
1    2009      3              56
2    2009      4              34
3    2009      5             100
4    2009      6             158
..    ...    ...             ...
123  2019      9             394
124  2019     10             537
125  2019     11             179
126  2019     12              94
127  2020      1               7

[128 rows x 3 columns]

In [160]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96432 entries, 0 to 96431
Data columns (total 28 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   date_time          96432 non-null  datetime64[ns]
 1   maxtempC           96432 non-null  int64
 2   mintempC           96432 non-null  int64
 3   totalSnow_cm       96432 non-null  int64
 4   sunHour            96432 non-null  float64
 5   uvIndex            96432 non-null  int64
 6   uvIndex.1          96432 non-null  int64
 7   moon_illumination  96432 non-null  int64
 8   moonrise           96432 non-null  object
 9   moonset            96432 non-null  object
 10  sunrise            96432 non-null  object
 11  sunset             96432 non-null  object
 12  DewPointC          96432 non-null  int64
 13  FeelsLikeC         96432 non-null  int64
 14  HeatIndexC         96432 non-null  int64
 15  WindChillC         96432 non-null  int64
 16  WindGustKmph       96432 non-null  int64
 17  cloudcover         96432 non-null  int64
 18  humidity           96432 non-null  int64
 19  precipMM           96432 non-null  float64
 20  pressure           96432 non-null  int64
 21  tempC              96432 non-null  int64
 22  visibility         96432 non-null  int64
 23  winddirDegree      96432 non-null  int64
 24  windspeedKmph      96432 non-null  int64
 25  rainy_day          96432 non-null  int64
 26  year               96432 non-null  int32
 27  month              96432 non-null  int32
dtypes: datetime64[ns](1), float64(2), int32(2), int64(19), object(4)
memory usage: 19.9+ MB

In [136]:
df.head()

,date_time,maxtempC,mintempC,totalSnow_cm,sunHour,uvIndex,uvIndex.1,moon_illumination,moonrise,moonset,...,humidity,precipMM,pressure,tempC,visibility,winddirDegree,windspeedKmph,rainy_day,year,month
0,2009-01-01 00:00:00,27,12,0,11.6,5,1,31,9.58 AM,10.03 PM,...,91,0.0,1014,14,10,109,8,0,2009,1
1,2009-01-01 01:00:00,27,12,0,11.6,5,1,31,9.58 AM,10.03 PM,...,93,0.0,1014,14,7,85,6,0,2009,1
2,2009-01-01 02:00:00,27,12,0,11.6,5,1,31,9.58 AM,10.03 PM,...,94,0.0,1014,13,5,61,4,0,2009,1
3,2009-01-01 03:00:00,27,12,0,11.6,5,1,31,9.58 AM,10.03 PM,...,96,0.0,1014,12,2,37,3,0,2009,1
4,2009-01-01 04:00:00,27,12,0,11.6,5,1,31,9.58 AM,10.03 PM,...,88,0.0,1015,14,5,45,3,0,2009,1