In [246]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report, accuracy_score
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, r2_score

In [247]:
# Load the CSV file
df = pd.read_csv('C:\\Users\\Asus\\Documents\\A MINI PROJECT\\Bengaluru 2009-2019\\Bengaluru.csv')

# Display the first few rows of the dataframe
df.head()

,date_time,maxtempC,mintempC,totalSnow_cm,sunHour,uvIndex,uvIndex.1,moon_illumination,moonrise,moonset,...,WindChillC,WindGustKmph,cloudcover,humidity,precipMM,pressure,tempC,visibility,winddirDegree,windspeedKmph
0,01-01-2009 0.00,27,12,0,11.6,5,1,31,9.58 AM,10.03 PM,...,18,11,2,91,0.0,1014,14,10,109,8
1,01-01-2009 1.00,27,12,0,11.6,5,1,31,9.58 AM,10.03 PM,...,17,9,2,93,0.0,1014,14,7,85,6
2,01-01-2009 2.00,27,12,0,11.6,5,1,31,9.58 AM,10.03 PM,...,16,7,2,94,0.0,1014,13,5,61,4
3,01-01-2009 3.00,27,12,0,11.6,5,1,31,9.58 AM,10.03 PM,...,15,5,2,96,0.0,1014,12,2,37,3
4,01-01-2009 4.00,27,12,0,11.6,5,1,31,9.58 AM,10.03 PM,...,18,5,1,88,0.0,1015,14,5,45,3

In [248]:
# Check for missing values
print(df.isnull().sum())

date_time            0
maxtempC             0
mintempC             0
totalSnow_cm         0
sunHour              0
uvIndex              0
uvIndex.1            0
moon_illumination    0
moonrise             0
moonset              0
sunrise              0
sunset               0
DewPointC            0
FeelsLikeC           0
HeatIndexC           0
WindChillC           0
WindGustKmph         0
cloudcover           0
humidity             0
precipMM             0
pressure             0
tempC                0
visibility           0
winddirDegree        0
windspeedKmph        0
dtype: int64

In [249]:
# Display the dataframe info
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96432 entries, 0 to 96431
Data columns (total 25 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   date_time          96432 non-null  object
 1   maxtempC           96432 non-null  int64
 2   mintempC           96432 non-null  int64
 3   totalSnow_cm       96432 non-null  int64
 4   sunHour            96432 non-null  float64
 5   uvIndex            96432 non-null  int64
 6   uvIndex.1          96432 non-null  int64
 7   moon_illumination  96432 non-null  int64
 8   moonrise           96432 non-null  object
 9   moonset            96432 non-null  object
 10  sunrise            96432 non-null  object
 11  sunset             96432 non-null  object
 12  DewPointC          96432 non-null  int64
 13  FeelsLikeC         96432 non-null  int64
 14  HeatIndexC         96432 non-null  int64
 15  WindChillC         96432 non-null  int64
 16  WindGustKmph       96432 non-null  int64
 17  cloudcover         96432 non-null  int64
 18  humidity           96432 non-null  int64
 19  precipMM           96432 non-null  float64
 20  pressure           96432 non-null  int64
 21  tempC              96432 non-null  int64
 22  visibility         96432 non-null  int64
 23  winddirDegree      96432 non-null  int64
 24  windspeedKmph      96432 non-null  int64
dtypes: float64(2), int64(18), object(5)
memory usage: 18.4+ MB
None

In [197]:
# Convert date_time column to datetime with specified format
df['date_time'] = pd.to_datetime(df['date_time'], format='%d-%m-%Y %H.%M', errors='coerce')

In [198]:
# Extract the date part from the datetime column
df['day'] = df['date_time'].dt.date

In [199]:
# Group by the date and calculate the mean of each numeric parameter
# Select only numeric columns
numeric_columns = df.select_dtypes(include='number').columns

In [252]:
# Group by 'day' and calculate the mean for numeric columns
daily_average = daily_average.groupby('day')[numeric_columns].mean().reset_index()

In [255]:
# Create a binary column indicating rainy days

daily_average['rainy_day'] = daily_average['precipMM'].apply(lambda x: 1 if x > 0 else 0)

In [256]:
# Display the updated dataframe
daily_average.head()

,day,maxtempC,mintempC,totalSnow_cm,sunHour,uvIndex,uvIndex.1,moon_illumination,DewPointC,FeelsLikeC,...,WindGustKmph,cloudcover,humidity,precipMM,pressure,tempC,visibility,winddirDegree,windspeedKmph,rainy_day
0,2009-01-01,27.0,12.0,0.0,11.6,5.0,3.791667,31.0,13.750000,21.416667,...,11.041667,6.958333,66.500000,0.0,1013.875000,19.041667,8.583333,84.208333,6.708333,0
1,2009-01-02,27.0,16.0,0.0,11.6,5.0,3.833333,38.0,14.541667,21.208333,...,12.125000,36.416667,69.916667,0.0,1014.333333,20.625000,7.833333,99.291667,7.958333,0
2,2009-01-03,25.0,15.0,0.0,11.6,5.0,3.708333,45.0,14.583333,20.958333,...,12.000000,42.000000,71.000000,0.0,1015.000000,20.166667,8.083333,99.416667,8.333333,0
3,2009-01-04,27.0,15.0,0.0,11.6,6.0,3.875000,52.0,14.250000,21.541667,...,11.541667,38.166667,67.291667,0.0,1014.250000,20.791667,9.000000,83.833333,7.625000,0
4,2009-01-05,28.0,16.0,0.0,11.6,5.0,3.833333,60.0,14.291667,21.625000,...,11.416667,25.125000,67.083333,0.0,1012.708333,20.666667,8.750000,104.875000,7.500000,0

In [257]:
# Display the resulting DataFrame
print(daily_average)

             day  maxtempC  mintempC  totalSnow_cm  sunHour  uvIndex  \
0     2009-01-01      27.0      12.0           0.0     11.6      5.0
1     2009-01-02      27.0      16.0           0.0     11.6      5.0
2     2009-01-03      25.0      15.0           0.0     11.6      5.0
3     2009-01-04      27.0      15.0           0.0     11.6      6.0
4     2009-01-05      28.0      16.0           0.0     11.6      5.0
...          ...       ...       ...           ...      ...      ...
4013  2019-12-28      26.0      18.0           0.0     11.6      6.0
4014  2019-12-29      27.0      17.0           0.0     10.2      6.0
4015  2019-12-30      25.0      17.0           0.0     10.2      5.0
4016  2019-12-31      25.0      19.0           0.0     11.6      5.0
4017  2020-01-01      26.0      18.0           0.0      8.7      6.0

      uvIndex.1  moon_illumination  DewPointC  FeelsLikeC  ...  WindGustKmph  \
0      3.791667               31.0  13.750000   21.416667  ...     11.041667
1      3.833333               38.0  14.541667   21.208333  ...     12.125000
2      3.708333               45.0  14.583333   20.958333  ...     12.000000
3      3.875000               52.0  14.250000   21.541667  ...     11.541667
4      3.833333               60.0  14.291667   21.625000  ...     11.416667
...         ...                ...        ...         ...  ...           ...
4013   3.791667                8.0  16.000000   21.791667  ...     18.833333
4014   3.541667               15.0  15.958333   21.250000  ...     18.500000
4015   3.458333               22.0  15.875000   21.375000  ...     18.333333
4016   3.625000               26.0  16.750000   21.875000  ...     17.833333
4017   3.458333               37.0  17.416667   22.416667  ...     20.375000

      cloudcover   humidity  precipMM     pressure      tempC  visibility  \
0       6.958333  66.500000  0.000000  1013.875000  19.041667    8.583333
1      36.416667  69.916667  0.000000  1014.333333  20.625000    7.833333
2      42.000000  71.000000  0.000000  1015.000000  20.166667    8.083333
3      38.166667  67.291667  0.000000  1014.250000  20.791667    9.000000
4      25.125000  67.083333  0.000000  1012.708333  20.666667    8.750000
...          ...        ...       ...          ...        ...         ...
4013   28.666667  72.916667  0.000000  1012.916667  21.375000   10.000000
4014   45.250000  75.166667  0.033333  1013.875000  20.916667    9.666667
4015   50.708333  75.125000  0.000000  1013.708333  20.791667    9.958333
4016   39.583333  77.000000  0.000000  1014.416667  21.208333   10.000000
4017   58.041667  78.125000  0.120833  1014.625000  21.708333    9.916667

      winddirDegree  windspeedKmph  rainy_day
0         84.208333       6.708333          0
1         99.291667       7.958333          0
2         99.416667       8.333333          0
3         83.833333       7.625000          0
4        104.875000       7.500000          0
...             ...            ...        ...
4013     100.208333      14.541667          0
4014      99.208333      13.958333          1
4015     110.500000      14.291667          0
4016     109.541667      14.333333          0
4017     110.041667      15.916667          1

[4018 rows x 22 columns]

In [258]:
daily_average.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4018 entries, 0 to 4017
Data columns (total 22 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   day                4018 non-null   object
 1   maxtempC           4018 non-null   float64
 2   mintempC           4018 non-null   float64
 3   totalSnow_cm       4018 non-null   float64
 4   sunHour            4018 non-null   float64
 5   uvIndex            4018 non-null   float64
 6   uvIndex.1          4018 non-null   float64
 7   moon_illumination  4018 non-null   float64
 8   DewPointC          4018 non-null   float64
 9   FeelsLikeC         4018 non-null   float64
 10  HeatIndexC         4018 non-null   float64
 11  WindChillC         4018 non-null   float64
 12  WindGustKmph       4018 non-null   float64
 13  cloudcover         4018 non-null   float64
 14  humidity           4018 non-null   float64
 15  precipMM           4018 non-null   float64
 16  pressure           4018 non-null   float64
 17  tempC              4018 non-null   float64
 18  visibility         4018 non-null   float64
 19  winddirDegree      4018 non-null   float64
 20  windspeedKmph      4018 non-null   float64
 21  rainy_day          4018 non-null   int64
dtypes: float64(20), int64(1), object(1)
memory usage: 690.7+ KB

In [259]:
daily_average.head()

,day,maxtempC,mintempC,totalSnow_cm,sunHour,uvIndex,uvIndex.1,moon_illumination,DewPointC,FeelsLikeC,...,WindGustKmph,cloudcover,humidity,precipMM,pressure,tempC,visibility,winddirDegree,windspeedKmph,rainy_day
0,2009-01-01,27.0,12.0,0.0,11.6,5.0,3.791667,31.0,13.750000,21.416667,...,11.041667,6.958333,66.500000,0.0,1013.875000,19.041667,8.583333,84.208333,6.708333,0
1,2009-01-02,27.0,16.0,0.0,11.6,5.0,3.833333,38.0,14.541667,21.208333,...,12.125000,36.416667,69.916667,0.0,1014.333333,20.625000,7.833333,99.291667,7.958333,0
2,2009-01-03,25.0,15.0,0.0,11.6,5.0,3.708333,45.0,14.583333,20.958333,...,12.000000,42.000000,71.000000,0.0,1015.000000,20.166667,8.083333,99.416667,8.333333,0
3,2009-01-04,27.0,15.0,0.0,11.6,6.0,3.875000,52.0,14.250000,21.541667,...,11.541667,38.166667,67.291667,0.0,1014.250000,20.791667,9.000000,83.833333,7.625000,0
4,2009-01-05,28.0,16.0,0.0,11.6,5.0,3.833333,60.0,14.291667,21.625000,...,11.416667,25.125000,67.083333,0.0,1012.708333,20.666667,8.750000,104.875000,7.500000,0

In [261]:
# Save the dataframe to a new CSV file
#daily_average.to_csv('daily_average.csv', index=False)

In [262]:
monthly_rain.to_csv('daily.csv', index=False)
#daily_average.head()

In [264]:
daily_average['year'] = pd.to_datetime(daily_average['day'], format='%d-%m-%Y').dt.year
daily_average['month'] = pd.to_datetime(daily_average['day'], format='%d-%m-%Y').dt.month
#daily_average['date'] = pd.to_datetime(daily_average['day'], format='%d-%m-%Y').dt.date

In [268]:
#daily_average.head()

In [269]:
print(daily_average)

             day  maxtempC  mintempC  totalSnow_cm  sunHour  uvIndex  \
0     2009-01-01      27.0      12.0           0.0     11.6      5.0
1     2009-01-02      27.0      16.0           0.0     11.6      5.0
2     2009-01-03      25.0      15.0           0.0     11.6      5.0
3     2009-01-04      27.0      15.0           0.0     11.6      6.0
4     2009-01-05      28.0      16.0           0.0     11.6      5.0
...          ...       ...       ...           ...      ...      ...
4013  2019-12-28      26.0      18.0           0.0     11.6      6.0
4014  2019-12-29      27.0      17.0           0.0     10.2      6.0
4015  2019-12-30      25.0      17.0           0.0     10.2      5.0
4016  2019-12-31      25.0      19.0           0.0     11.6      5.0
4017  2020-01-01      26.0      18.0           0.0      8.7      6.0

      uvIndex.1  moon_illumination  DewPointC  FeelsLikeC  ...  precipMM  \
0      3.791667               31.0  13.750000   21.416667  ...  0.000000
1      3.833333               38.0  14.541667   21.208333  ...  0.000000
2      3.708333               45.0  14.583333   20.958333  ...  0.000000
3      3.875000               52.0  14.250000   21.541667  ...  0.000000
4      3.833333               60.0  14.291667   21.625000  ...  0.000000
...         ...                ...        ...         ...  ...       ...
4013   3.791667                8.0  16.000000   21.791667  ...  0.000000
4014   3.541667               15.0  15.958333   21.250000  ...  0.033333
4015   3.458333               22.0  15.875000   21.375000  ...  0.000000
4016   3.625000               26.0  16.750000   21.875000  ...  0.000000
4017   3.458333               37.0  17.416667   22.416667  ...  0.120833

         pressure      tempC  visibility  winddirDegree  windspeedKmph  \
0     1013.875000  19.041667    8.583333      84.208333       6.708333
1     1014.333333  20.625000    7.833333      99.291667       7.958333
2     1015.000000  20.166667    8.083333      99.416667       8.333333
3     1014.250000  20.791667    9.000000      83.833333       7.625000
4     1012.708333  20.666667    8.750000     104.875000       7.500000
...           ...        ...         ...            ...            ...
4013  1012.916667  21.375000   10.000000     100.208333      14.541667
4014  1013.875000  20.916667    9.666667      99.208333      13.958333
4015  1013.708333  20.791667    9.958333     110.500000      14.291667
4016  1014.416667  21.208333   10.000000     109.541667      14.333333
4017  1014.625000  21.708333    9.916667     110.041667      15.916667

      rainy_day  year  month        date
0             0  2009      1  2009-01-01
1             0  2009      1  2009-01-02
2             0  2009      1  2009-01-03
3             0  2009      1  2009-01-04
4             0  2009      1  2009-01-05
...         ...   ...    ...         ...
4013          0  2019     12  2019-12-28
4014          1  2019     12  2019-12-29
4015          0  2019     12  2019-12-30
4016          0  2019     12  2019-12-31
4017          1  2020      1  2020-01-01

[4018 rows x 25 columns]

In [270]:

monthly_rain = daily_average.groupby([ 'month','year'])['rainy_day'].sum().reset_index()

In [271]:
monthly_rain.to_csv('monthly_rain.csv', index=False)

In [272]:
print(monthly_rain)

     month  year  rainy_day
0        1  2009          4
1        1  2010          9
2        1  2011          3
3        1  2012          1
4        1  2013          0
..     ...   ...        ...
128     12  2015         10
129     12  2016          7
130     12  2017          5
131     12  2018          9
132     12  2019         10

[133 rows x 3 columns]

In [273]:
# Optional: Rename columns for clarity
monthly_rain.rename(columns={'date_time.year': 'Year', 'date_time.month': 'Month'}, inplace=True)

In [274]:

# Print or save the result
print(monthly_rain)
# monthly_rain.to_csv('monthly_rain.csv', index=False)

     month  year  rainy_day
0        1  2009          4
1        1  2010          9
2        1  2011          3
3        1  2012          1
4        1  2013          0
..     ...   ...        ...
128     12  2015         10
129     12  2016          7
130     12  2017          5
131     12  2018          9
132     12  2019         10

[133 rows x 3 columns]

In [284]:
#print(daily_average['precipMM'].dtype)
#print(daily_average['rainy_day'].dtype)

float64
int64